header {
  background-color: black; }
  header .NavBar {
    background-color: black;
    padding: 10px; }
  header .NavBar li {
    display: inline;
    margin: 20px;
    flex-wrap: wrap; }
  header .NavBar a {
    text-decoration: none;
    color: white;
    font: size 80px;
    font-weight: 100;
    font-family: 'Source Sans Pro', sans-serif;
    list-style: none; }
  header .NavBar p {
    text-align: center;
    text-transform: capitalize;
    color: yellow;
    font-size: 50px; }
  header .carouselExampleIndicators {
    height: 10px; }

.maincolor {
  background-color: black; }

footer {
  background-color: black; }
  footer .underbar {
    background-color: black;
    padding: 10px; }
  footer .underbar li {
    display: inline;
    margin: 20px;
    flex-wrap: wrap; }
  footer .underbar a {
    text-decoration: none;
    color: white;
    font: size 80px;
    color: white;
    font-weight: 100;
    font-family: 'Source Sans Pro', sans-serif;
    list-style: none; }
